.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  content: '';
  width: 352px;
  bottom: 24px;
  border: 2px solid var(--color-brand-light);
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}
